/node_modules
/public/hot
/public/storage
/public/shopping-front
/public/shopping-front/*
/public/shopping-front-next
/public/shopping-front-next/*
/storage/*.key
/vendor
.env
.env.test
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/.idea
/.vscode
